In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2020-11-02 05:05:12,-34.42,19.23,66.00,80,97,4.00
1,1,Hilo,US,2020-11-02 05:05:12,19.73,-155.09,80.60,69,1,3.36
2,2,Wanning,CN,2020-11-02 05:04:16,18.80,110.40,79.84,69,66,15.14
3,3,Upernavik,GL,2020-11-02 05:03:51,72.79,-56.15,16.48,92,98,4.50
4,4,Makakilo City,US,2020-11-02 05:05:12,21.35,-158.09,80.60,74,1,3.36

In [3]:
null_columns = city_data_df.columns[city_data_df.isnull().any()]
print(city_data_df[city_data_df["Country"].isnull()])

     City_ID     City Country                 Date    Lat    Lng  Max Temp  \
576      576  Eenhana     NaN  2020-11-02 05:06:30 -17.47  16.33      78.8

     Humidity  Cloudiness  Wind Speed
576        19          13        5.82

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2020-11-02 05:05:12,19.73,-155.09,80.60,69,1,3.36
2,2,Wanning,CN,2020-11-02 05:04:16,18.80,110.40,79.84,69,66,15.14
4,4,Makakilo City,US,2020-11-02 05:05:12,21.35,-158.09,80.60,74,1,3.36
20,20,Hobart,AU,2020-11-02 05:05:14,-42.88,147.33,81.00,49,0,8.05
22,22,Vaini,TO,2020-11-02 05:03:34,-21.20,-175.20,78.80,83,40,10.29
29,29,Atuona,PF,2020-11-02 05:05:15,-9.80,-139.03,77.67,78,59,15.05
31,31,Xuddur,SO,2020-11-02 05:05:16,4.12,43.89,76.33,76,99,8.14
32,32,Meulaboh,ID,2020-11-02 05:03:58,4.14,96.13,85.91,65,85,3.06
33,33,Saint-Joseph,RE,2020-11-02 05:05:16,-21.37,55.62,75.20,47,90,5.82
34,34,Nago,JP,2020-11-02 05:05:16,26.59,127.98,82.40,65,40,9.17

In [12]:
preferred_cities_df.count()

City_ID       173
City          173
Country       172
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [13]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2020-11-02 05:05:12,19.73,-155.09,80.60,69,1,3.36
2,2,Wanning,CN,2020-11-02 05:04:16,18.80,110.40,79.84,69,66,15.14
4,4,Makakilo City,US,2020-11-02 05:05:12,21.35,-158.09,80.60,74,1,3.36
20,20,Hobart,AU,2020-11-02 05:05:14,-42.88,147.33,81.00,49,0,8.05
22,22,Vaini,TO,2020-11-02 05:03:34,-21.20,-175.20,78.80,83,40,10.29
...,...,...,...,...,...,...,...,...,...,...
564,564,Kalmunai,LK,2020-11-02 05:06:29,7.42,81.82,86.61,62,75,5.91
565,565,Venice,US,2020-11-02 05:01:31,27.10,-82.45,77.00,88,75,10.29
567,567,Aquiraz,BR,2020-11-02 05:06:29,-3.90,-38.39,80.60,78,40,8.05
570,570,Ewa Beach,US,2020-11-02 05:04:40,21.32,-158.01,80.60,74,1,3.36
579,579,Hirara,JP,2020-11-02 05:06:31,24.80,125.28,80.60,61,75,14.99

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1            Hilo      US     80.60  19.73 -155.09
2         Wanning      CN     79.84  18.80  110.40
4   Makakilo City      US     80.60  21.35 -158.09
20         Hobart      AU     81.00 -42.88  147.33
22          Vaini      TO     78.80 -21.20 -175.20
29         Atuona      PF     77.67  -9.80 -139.03
31         Xuddur      SO     76.33   4.12   43.89
32       Meulaboh      ID     85.91   4.14   96.13
33   Saint-Joseph      RE     75.20 -21.37   55.62
34           Nago      JP     82.40  26.59  127.98

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))